<div class="table-wrapper"></div>
<div class="table-responsive">
  <table class="table table-striped" dir="rtl">
    <thead>
      <tr>
        @for (col of columns; track $index) {
          <th>{{ col }}</th>
        }

        <th>الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      @for (row of tableData; track row.id) {
        <tr>
          @for (key of getObjectKeys(row); track key) {
            <td>{{ row[key] }}</td>
          }

          <td class="actions-cell">
            <div class="d-inline-flex gap-2">
              <button class="btn btn-sm btn-warning" (click)="onEdit(row)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="onDelete(row)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">
  يعرض 0 إلى 0 من أصل 0 مُدخل
</div>
<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
  <a
    class="paginate_button previous disabled"
    aria-controls="dataTable"
    aria-disabled="true"
    role="link"
    data-dt-idx="previous"
    tabindex="-1"
    id="dataTable_previous"
    >السابق</a
  ><span></span
  ><a
    class="paginate_button next disabled"
    aria-controls="dataTable"
    aria-disabled="true"
    role="link"
    data-dt-idx="next"
    tabindex="-1"
    id="dataTable_next"
    >التالي</a
  >
</div>
