
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-dialog {
  margin: 100px auto;
}

.modal-open {
  overflow: hidden;
}
.modal.show {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}
