<div class="table-wrapper"></div>
<div class="table-responsive">
  <table class="table table-striped" dir="rtl">
    <thead>
      <tr>
        @for (col of columns; track $index) {
          <th>{{ col }}</th>
        }
        @if (isParentTraining) {
          <th>الإستبيانات</th>
        }
        <th>الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      @for (row of tableData; track row.id) {
        <tr>
          @for (key of getObjectKeys(row); track key) {
            <td>{{ row[key] }}</td>
          }
          @if (isParentTraining) {
            <td>
              <a
                routerLink="/surveys" [queryParams]="{trainingid:row.id}"
                style="color: blue; text-decoration: underline; cursor: pointer"
              >
                الاستبيانات
              </a>
            </td>
          }

          <td class="actions-cell">
            <div class="d-inline-flex gap-2">
              <button class="btn btn-sm btn-warning" (click)="onEdit(row)">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="onDelete(row)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
